
@{
    ViewBag.Title = "DepartmentWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="~/lib/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script src="~/lib/fullcalendar.min.js"></script>
    <link href="~/lib/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style>
        .table1 {
            display: none;
        }

        #LoadingImage {
            display: none;
            margin: -48px 0px 0px 0px;
            padding: 170px 10px 10px 10px;
            position: absolute;
            left: 0%;
            top: 225px;
            width: 100%;
            height: 100%;
            text-align: center;
            background: white url(Content/loader.gif) no-repeat center center !important;
            border: 0px solid #000;
            z-index: 1;
        }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            width: 31px !important;
            text-align: center !important;
        }

        .ui-timepicker-table {
            font-size: 10px !important;
        }

        .form-horizontal .form-group {
            font-size: 15px;
        }

        .form-horizontal .control-label {
            text-align: left !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            GetDetails();
            $('#TotalDays').text(@DateTime.DaysInMonth(DateTime.Today.Year,DateTime.Today.Month-1))
            $('#totalPresent').text("0")
            $('#totalAbsent').text("0")
            $(document).on("click", ".guestlist tr", function (e) {
                debugger;
                $('.guestlist tr td').css({
                    'background-color': '#fff'
                });
                var td = this.cells[0];
                $(this.cells).css({
                    'background-color': 'grey'
                });

                var td1 = $(this.cells[0]).text();
                $('#EmpCode').val(td1);
                $("#GuestName1").val($(this.cells[1]).text()).trigger("change");
                EMPDET(td1);

            });

        });
        function GetDetails() {
            debugger;
            var url = '@Url.Action("GDD", "HR")';
            $.ajax({
                url: url,
                type: 'POST',
                success: function (result) {
                    debugger;
                    var data = new Array();
                    for (var i = 0; i < result.length; i++) {
                        debugger;
                        data.push({
                            //Employee_Code: result[i].Employee_Code,
                            //Employee_Name: result[i].Employee_Name,
                            Department: result[i].Department,
                            //RoomNo: result[i].Room_No,
                            //CheckInDate: moment(result[i].Date_From).format("DD/MM/YYYY")
                            //ScheduleTime: moment(result[i].ScheduleTime).format("HH:mm")
                        })
                    }
                    var table = $('#customers').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                           'excel', 'pdf'
                        ],
                        data: data,
                        order: [[0, "desc"]],
                        columns: [
                            { "data": "Department" }
                        ]
                    });
                    var selected = [];
                    debugger;
                    $('#guestcount').text(table.data().count());
                    $('#customers tbody').on('click', 'tr', function () {
                        $('tr').removeClass('selected');
                        debugger;
                        var id = this.id;
                        var index = $.inArray(id, selected);
                        if (index === -1) {
                            selected.push(id);
                        } else {
                            selected.splice(index, 1);
                        }
                        $(this).toggleClass('selected');
                        var dataArr = [];

                        $.each($("#customers tr.selected"), function () {
                            debugger;
                            $('#EmpCode').val($(this).find('td').eq(0).text());
                            var td1 = $(this).find('td').eq(0).text();
                            $("#GuestName1").val($(this).find('td').eq(0).text());
                            EMPDET(td1);
                        });
                    });
                }
            });
        }
        //function GetDetails() {
        //    $.ajax({
        //        type: "POST",
        //        url: "/HR/GDD",
        //        success: function (result) {
        //            debugger;
        //            var $table = $('<table/>');
        //            $table.addClass("table table-bordered table-hover table-striped tbb");
        //            $table.append(' <th style="text-align:center!important;">Department</th>');
        //            for (var i = 0; i < result.length; i++) {
        //                $table.append('<tr><td>' + result[i].Department + '</td>');
        //                $('.guestlist').append($table);
        //            }
        //            $('.guestlist').show();
        //        }
        //    });
        //}
        function EMPDET(EMP_Code) {
            debugger;
            var namenew = EMP_Code;
            var postData = {
                EMP_Code: namenew
            }
            debugger;
            $.ajax({
                type: "POST",
                data: postData,
                url: "/HR/DeptmentWisecount",
                //data: "id=",
                success: function (result) {
                    debugger;

                    $('#totalPresent').text(result);
                }
            });
        }
        function PresentDays() {
            debugger;
            $('#emplist').empty();

            var wallcode = $('#EmpCode').val();
            var postData = {
                EmpCode: wallcode
            }
            //debugger;
            $.ajax({
                type: "POST",
                data: postData,
                url: "/HR/DetEmps",
                //data: "id=",
                success: function (result) {
                    debugger;
                    var locdata = new Array();
                    for (var i = 0; i < result.length; i++) {
                        locdata.push({
                            Employee_Code: result[i][0].Employee_Code,
                            Employee_Name: result[i][0].Employee_Name,
                            Department: result[i][0].Department,
                            drilldown: false
                        });
                    }
                    var sttt = "Employees with Designation are";
                    $(".tbb1").remove();
                    var $table = $('<table/>');
                    $table.addClass("table table-bordered table-hover table-striped tbb1");
                    $table.append(' <th style="text-align:center!important;">Employee Code</th><th style="text-align:center!important;">Employee Name</th><th style="text-align:center!important;">Department</th>');
                    for (var i = 0; i < locdata.length; i++) {
                        $table.append('<tr><td>' + locdata[i].Employee_Code + '</td><td>' + locdata[i].Employee_Name + '</td><td>' + locdata[i].Department + '</td></tr>');
                        $('#emplist').append($table);

                    }
                    $('#emplist').show();
                }
            });
        }
        //function AbsentDays() {
        //    debugger;
        //    $('#emplist').empty();

        //    var wallcode = $('#EmpCode').val();
        //    var postData = {
        //        EmpCode: wallcode
        //    }
        //    //debugger;
        //    $.ajax({
        //        type: "POST",
        //        data: postData,
        //        url: "/HR/EmpAbsentDet",
        //        //data: "id=",
        //        success: function (result) {
        //            //debugger;
        //            var locdata = new Array();
        //            for (var i = 0; i < result.length; i++) {
        //                locdata.push({
        //                    Employee_Code: result[i].Employee_Code,
        //                    Employee_Name: result[i].Employee_Name,
        //                    Department: result[i].Department,
        //                    AttendanceDate: moment(result[i].AttendanceDate).format("DD/MM/YYYY"),
        //                    Status: result[i].Status,
        //                    drilldown: false
        //                });
        //            }
        //            var sttt = "Employees with Designation are";
        //            $(".tbb1").remove();
        //            var $table = $('<table/>');
        //            $table.addClass("table table-bordered table-hover table-striped tbb1");
        //            $table.append(' <th style="text-align:center!important;">Employee Code</th><th style="text-align:center!important;">Employee Name</th><th style="text-align:center!important;">Department</th><th style="text-align:center!important;">Attendance Date</th><th style="text-align:center!important;">Status</th>');
        //            for (var i = 0; i < locdata.length; i++) {
        //                $table.append('<tr><td>' + locdata[i].Employee_Code + '</td><td>' + locdata[i].Employee_Name + '</td><td>' + locdata[i].Department + '</td><td>' + locdata[i].AttendanceDate + '</td><td>' + locdata[i].Status + '</td></tr>');
        //                $('#emplist').append($table);

        //            }
        //            $('#emplist').show();
        //        }
        //    });
        //}
        //function SinglePunch() {
        //    debugger;
        //    $('#emplist').empty();

        //    var wallcode = $('#EmpCode').val();
        //    var postData = {
        //        EmpCode: wallcode
        //    }
        //    //debugger;
        //    $.ajax({
        //        type: "POST",
        //        data: postData,
        //        url: "/HR/SinglePunch",
        //        //data: "id=",
        //        success: function (result) {
        //            //debugger;
        //            var locdata = new Array();
        //            for (var i = 0; i < result.length; i++) {
        //                locdata.push({
        //                    Employee_Code: result[i].Employee_Code,
        //                    Employee_Name: result[i].Employee_Name,
        //                    Department: result[i].Department,
        //                    AttendanceDate: moment(result[i].AttendanceDate).format("DD/MM/YYYY"),
        //                    InTime: moment(result[i].InTime).format("HH:mm"),
        //                    OutTime: moment(result[i].C_OutTime).format("HH:mm"),
        //                    drilldown: false
        //                });
        //            }
        //            var sttt = "Employees with Designation are";
        //            $(".tbb1").remove();
        //            var $table = $('<table/>');
        //            $table.addClass("table table-bordered table-hover table-striped tbb1");
        //            $table.append(' <th style="text-align:center!important;">Employee Code</th><th style="text-align:center!important;">Employee Name</th><th style="text-align:center!important;">Department</th><th style="text-align:center!important;">Attendance Date</th><th style="text-align:center!important;">In Time</th><th style="text-align:center!important;">Out Time</th>');
        //            for (var i = 0; i < locdata.length; i++) {
        //                $table.append('<tr><td>' + locdata[i].Employee_Code + '</td><td>' + locdata[i].Employee_Name + '</td><td>' + locdata[i].Department + '</td><td>' + locdata[i].AttendanceDate + '</td><td>' + locdata[i].InTime + '</td><td>' + locdata[i].OutTime + '</td></tr>');
        //                $('#emplist').append($table);

        //            }
        //            $('#emplist').show();
        //        }
        //    });
        //}
        //function Late() {
        //    debugger;
        //    $('#emplist').empty();

        //    var wallcode = $('#EmpCode').val();
        //    var postData = {
        //        EmpCode: wallcode
        //    }
        //    //debugger;
        //    $.ajax({
        //        type: "POST",
        //        data: postData,
        //        url: "/HR/EmpLate",
        //        //data: "id=",
        //        success: function (result) {
        //            //debugger;
        //            var locdata = new Array();
        //            for (var i = 0; i < result.length; i++) {
        //                locdata.push({
        //                    Employee_Code: result[i].Employee_Code,
        //                    Employee_Name: result[i].Employee_Name,
        //                    Department: result[i].Department,
        //                    AttendanceDate: moment(result[i].AttendanceDate).format("DD/MM/YYYY"),
        //                    LateBy: result[i].LateBy,
        //                    drilldown: false
        //                });
        //            }
        //            var sttt = "Employees with Designation are";
        //            $(".tbb1").remove();
        //            var $table = $('<table/>');
        //            $table.addClass("table table-bordered table-hover table-striped tbb1");
        //            $table.append(' <th style="text-align:center!important;">Employee Code</th><th style="text-align:center!important;">Employee Name</th><th style="text-align:center!important;">Department</th><th style="text-align:center!important;">Attendance Date</th><th style="text-align:center!important;">LateBy</th>');
        //            for (var i = 0; i < locdata.length; i++) {
        //                $table.append('<tr><td>' + locdata[i].Employee_Code + '</td><td>' + locdata[i].Employee_Name + '</td><td>' + locdata[i].Department + '</td><td>' + locdata[i].AttendanceDate + '</td><td>' + locdata[i].LateBy + '</td></tr>');
        //                $('#emplist').append($table);

        //            }
        //            $('#emplist').show();
        //        }
        //    });
        //}
        //function Early() {
        //    debugger;
        //    $('#emplist').empty();

        //    var wallcode = $('#EmpCode').val();
        //    var postData = {
        //        EmpCode: wallcode
        //    }
        //    //debugger;
        //    $.ajax({
        //        type: "POST",
        //        data: postData,
        //        url: "/HR/EmpEarly",
        //        //data: "id=",
        //        success: function (result) {
        //            //debugger;
        //            var locdata = new Array();
        //            for (var i = 0; i < result.length; i++) {
        //                locdata.push({
        //                    Employee_Code: result[i].Employee_Code,
        //                    Employee_Name: result[i].Employee_Name,
        //                    Department: result[i].Department,
        //                    AttendanceDate: moment(result[i].AttendanceDate).format("DD/MM/YYYY"),
        //                    Early_by: result[i].Early_by,
        //                    drilldown: false
        //                });
        //            }
        //            var sttt = "Employees with Designation are";
        //            $(".tbb1").remove();
        //            var $table = $('<table/>');
        //            $table.addClass("table table-bordered table-hover table-striped tbb1");
        //            $table.append(' <th style="text-align:center!important;">Employee Code</th><th style="text-align:center!important;">Employee Name</th><th style="text-align:center!important;">Department</th><th style="text-align:center!important;">Attendance Date</th><th style="text-align:center!important;">Earlyby</th>');
        //            for (var i = 0; i < locdata.length; i++) {
        //                $table.append('<tr><td>' + locdata[i].Employee_Code + '</td><td>' + locdata[i].Employee_Name + '</td><td>' + locdata[i].Department + '</td><td>' + locdata[i].AttendanceDate + '</td><td>' + locdata[i].Early_by + '</td></tr>');
        //                $('#emplist').append($table);

        //            }
        //            $('#emplist').show();
        //        }
        //    });
        //}
    </script>
</head>
<body>
    <div class="form_pema">
        <div class="row">
            <div class="col-md-3 form_pema">
                <h4 style="font-size:25px;color:red;text-align:center;">Departments: @DateTime.Now.AddMonths(-1).ToString("MMMM")</h4>
                @*<div class="guestlist" style="margin-top:28px;height:443px;overflow: scroll;"></div>*@
                <table id="customers" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Department</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-9 form_pema" style="margin-top:10px;">
                <input type="hidden" id="EmpCode" />
                <div style="font-size:25px;color:red;text-align:center;"><h4 style="font-size:25px;margin-top:-5px;">Departments Employee Details :<input style="border: none;" type="text" id="GuestName1" name="GuestName1" readonly /></h4></div>
                <hr />
                <div class="row">
                    @*<div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">
                                            <span id="TotalDays" style="font-size:50px"></span>
                                        </div><br />
                                        <div style="font-size:20px">Total Days</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" style="height:44px!important">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-4">
                        <div class="panel panel-green" style="background-color: green;">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        @*<i class="fa fa-wheelchair fa-5x"></i>*@
                                        @*<img src="~/fonts/patientpng.png" style="height:77px;"/>*@
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">
                                            <span id="totalPresent" style="color:white;font-size:50px"></span>
                                        </div><br />
                                        <div style="color:white;font-size:20px">Total Count</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="pull-left" onclick="PresentDays();" style="cursor: pointer;">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="panel panel-yellow" style="background-color: red;">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">
                                                <span id="totalAbsent" style="color:white;font-size:50px"></span>
                                            </div><br />
                                            <div style="color:white;font-size:20px">Days Absent</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left" onclick="AbsentDays();" style="cursor: pointer;">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>*@

                </div>
                <br />
                @*<div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">
                                                <span id="SinglePunch" style="font-size:50px"></span>
                                            </div><br />
                                            <div style="font-size:20px">Single Punch</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left" onclick="SinglePunch();" style="cursor: pointer;">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-green" style="background-color: green;">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">
                                                <span id="Late" style="color:white;font-size:50px"></span>
                                            </div><br />
                                            <div style="color:white;font-size:20px">Extra Working</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left" onclick="Late();" style="cursor: pointer;">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-yellow" style="background-color: red;">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">
                                                <span id="Early" style="color:white;font-size:50px"></span>
                                            </div><br />
                                            <div style="color:white;font-size:20px">Early Going</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-left" onclick="Early();" style="cursor: pointer;">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>*@
                <br />

            </div>

        </div>
        <div class="emplist" id="emplist" style="text-align:center;height:443px;overflow: scroll;">
        </div>
    </div>

</body>
</html>