
@{
    ViewBag.Title = "GuestWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#scheduledate").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date());;
            getdetails($("#scheduledate").val());
            //Gettodattreatments($("#scheduledate").val());
            //Guestattendcount($("#scheduledate").val());
            $("#scheduledate").change(function () {
                getdetails($("#scheduledate").val());
                LoadData($("#scheduledate").val());
                Gettodattreatments($("#scheduledate").val());
                Guestattendcount($("#scheduledate").val());
            });
            //Getguestcount();
            //Gettreatmentcount();
            //Guestattendcount();
            //Gettodattreatments();
            //LoadData($("#scheduledate").val());
          
            //$(".expand-content-link").click(function () {
            //    $(".content-holder").find(".hidden-content", this).toggle();
            //    $('#emplist').hide();
            //});
        });
        function getdetails(dated) {
            debugger;
            var url = '@Url.Action("GuestWiseReport", "Treatment")';
            $.ajax({
                data: { dated },
                url: url,
                type: 'POST',
                success: function (result) {
                    debugger;
                    var data = new Array();
                    for (var i = 0; i < result.length; i++) {
                        data.push({
                            PRNO: result[i].PRNO,
                            GuestName: result[i].GuestName,
                            RoomNo: result[i].RoomNo,
                            HealerName: result[i].HealerName,
                            TreatmentName: result[i].TreatmentName,
                            ScheduleTime: moment(result[i].ScheduleTime).format("HH:mm")
                        })
                    }
                    var table = $('#treatmentmaster').DataTable({
                        data: data,
                        destroy: true,
                        "order": [[1, "asc"], [5, "asc"]],
                        columns: [
                            { "data": "PRNO" },
                            { "data": "GuestName" },
                            { "data": "RoomNo" },
                            { "data": "HealerName" },
                            { "data": "TreatmentName" },
                            { "data": "ScheduleTime" }
                        ],
                    });
                }
            });
        }
        
    </script>
    <script>
        $(document).ready(function () {
            Gettodattreatments($("#scheduledate").val());
            Guestattendcount($("#scheduledate").val());
            Getguestcount();
            Gettreatmentcount();
        });
        function Getguestcount() {
            $.ajax({
                type: "post",
                url: "/Treatment/TotalGuests/",
                success: function (data) {
                    if (data != "0") {
                        $("#totalguests").text(data);
                    }
                    else {
                        $("#totalguests").text("0");
                    }
                },
                error: function () {

                },
            });
        }
        function Gettreatmentcount() {
            $.ajax({
                type: "post",
                url: "/Treatment/Gettreatmentscount/",
                success: function (data) {
                    if (data != "0") {
                        $("#totaltreatments").text(data);
                    }
                    else {
                        $("#totaltreatments").text("0");
                    }
                },
            });
        }
        function Guestattendcount(dated) {
            $.ajax({
                type: "post",
                data: { dated },
                url: "/Treatment/Getguestattendcount/",
                success: function (data) {
                    if (data != "0") {
                        $("#guestattend").text(data);
                    }
                    else {
                        $("#guestattend").text("0");
                    }
                },
                error: function () {

                },
            });
        }
        function Gettodattreatments(dated) {
            $.ajax({
                type: "post",
                data: { dated },
                url: "/Treatment/Gettodaytreatments/",
                success: function (data) {
                    if (data != "0") {
                        $("#todaytreatments").text(data);
                    }
                    else {
                        $("#todaytreatments").text("0");
                    }
                },
                error: function () {

                },
            });
        }
        function LoadData(dated) {
            debugger;
            $.ajax({
                type: "POST",
                data: { dated },
                url: "/Treatment/Guestwisegraph",
                //data: "id=",
                success: function (data) {
                    debugger;
                    var locdata = new Array();
                    for (var i = 0; i < data.length; i++) {
                        locdata.push({
                            name: data[i].Key,
                            y: data[i].Value,
                            drilldown: false
                        });
                    }
                    BindData(locdata);

                },
                error: function () {
                    // alert("error")
                }
            });
        }
        function BindData(locations) {
            $('#container').highcharts({
                chart: {
                    type: 'column',
                    events: {
                        drilldown: function (e) {
                            if (!e.seriesOptions) {

                                var chart = this;
                                chart.showLoading('Simulating Ajax ...');
                                var series = Getseries(e.point.name, chart, e.point);
                                // Show the loading label

                            }
                        }
                    }
                },
                title: {
                    text: 'Guest Wise Graph'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Treatments'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function () {
                                guestlist(this.name, $("#scheduledate").val());
                                $('#guest').val(this.name);
                                // alert(this.name)
                            }
                        },
                    },
                    name: 'Count',
                    colorByPoint: true,
                    data: locations
                }],
                drilldown: {
                    series: []
                }
            });
        }
        function guestlist(name, Date) {
            debugger;
            $('#guest').val(name);
            var wallcode = name;
            var postData = {
                Guestname: wallcode,
                datenew: Date,
            }
            //debugger;
            $.ajax({
                type: "POST",
                data: postData,
                url: "/Treatment/Gettreatmentlist",
                //data: "id=",
                success: function (result) {
                    debugger;
                    var locdata = new Array();
                    for (var i = 0; i < result.length; i++) {
                        locdata.push({
                            PRNO: result[i].PRNO,
                            GuestName: result[i].GuestName,
                            TreatName: result[i].TreatName,
                            drilldown: false
                        });
                    }
                    var sttt = "Employees with Designation are";
                    $(".tbb").remove();
                    var $table = $('<table/>');
                    $table.addClass("table table-bordered table-hover table-striped tbb");
                    $table.append(' <th style="text-align:center!important;">PRNO</th><th style="text-align:center!important;">Guest Name</th><th style="text-align:center!important;">Treatment Name</th>');
                    for (var i = 0; i < locdata.length; i++) {
                        //debugger;

                        $table.append('<tr><td>' + locdata[i].PRNO + '</td><td>' + locdata[i].GuestName + '</td><td>' + locdata[i].TreatName + '</td></tr>');
                        $('#emplist').append($table);

                    }
                    $('#emplist').show();
                }
            });
        }
    </script>
</head>
<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div class="row" style="text-align:center;margin-top: 10px;">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span id="totalguests"></span>
                            </div><br />
                            <div>TOTAL GUESTS</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            @*<i class="fa fa-wheelchair fa-5x"></i>*@
                            @*<img src="~/fonts/patientpng.png" style="height:77px;"/>*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span id="totaltreatments"></span>
                            </div><br />
                            <div>TOTAL TREATMENTS</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            @*<i class="fa fa-user-md fa-5x"></i>*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span id="guestattend"></span>
                            </div><br />
                            <div>GUEST ATTEND</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            @*<i class="fa fa-user fa-5x"></i>*@
                            @*<img src="~/fonts/1495211194_doctor.ico" style="height:77px;"/>*@
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                <span id="todaytreatments"></span>
                            </div><br />
                            <div>TODAY TREATMENTS</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <center style="color:red;font-size:25px;">Guest Wise Treatments &nbsp;&nbsp;&nbsp; <label style="color:#333;font-size:20px;">Date:<input type="text" id="scheduledate" style="width: 272px;"></label></center>
    <div class="modal-body" style="width:90%;margin-left:78px;">
        @*Date: <input type="text" id="scheduledate">*@
        <table id="treatmentmaster" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>PRNO</th>
                    <th>GuestName</th>
                    <th>RoomNo</th>
                    <th>HealerName</th>
                    <th>TreatmentName</th>
                    <th>ScheduleTime</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div id="container" class="col-md-8" style="float:left;height: 400px; margin: 0 auto"></div>
    </div><br />
    <div class="content-holder">
        <a href="#" class="expand-content-link">Guest Wise treatments:<input type="text" id="guest" name="guest" style="border:none;" readonly="readonly" /></a>
        <div class="hidden-content" id="container"></div>
        <br />
        <div class="empllist" id="emplist" style="text-align:center;">
        </div>
    </div>
    <link href="~/Newlayout/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Newlayout/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Newlayout/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Newlayout/vendor/morrisjs/morris.css" rel="stylesheet" />
    <link href="~/Newlayout/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</body>
</html>